%% -*- erlang -*-
%% Config file for timer application
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
		{"STRIP", "bfin-linux-uclibc-strip"},
		{"CC", "bfin-linux-uclibc-gcc"},
		{"STAGING_DIR", "~/Projects/Lumenosys/blackfin/lumenosys-adi-buildroot/output/host/usr/bfin-buildroot-linux-uclibc/sysroot"},
		{"KERNEL_HEADERS","~/Projects/Lumenosys/blackfin/lumenosys-adi-linux/arch/blackfin/include"},
 	    {"CFLAGS", "-Wall -O3 -fpic -funroll-loops -ffast-math -fomit-frame-pointer -mcpu=bf537-0.3 -I ${KERNEL_HEADERS} -I ${STAGING_DIR}/usr/lib/erlang/usr/include"}
 	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/bfin_timer.so",
	       [ "c_src/bfin_timer.c"
	       ]}
	     ]}.

{post_hooks, [{"linux", compile, "${STRIP} priv/*"}]}.
